<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>All Suppleir list</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>
       <h2>All Suppleir List</h2>
       <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
            {% for sup in supp%}
          <tr>
            <td>{{ sup.name }}</td>
            <td>{{ sup.email }}</td>
            <td>{{ sup.phone }}</td>
            <td>{{ sup.address }}</td>
            <td>
                <a href="{% url 'GetSuppDetails' sup.id %}">
                    <button class='btn btn-warning'>Edit</button>
                </a> 
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        <script src="" async defer></script>
    </body>
</html>